In [10]:
def get_met():
    import requests
    import pandas as pd

    # Clien ID to access data from 
    client_id = 'd933f861-70f3-4d0f-adc6-b1edb5978a9e'

    # Define endpoints and parameters
    endpoint = 'https://frost.met.no/observations/v0.jsonld'
    parameters = {
        'sources': 'SN68860',  # Station ID for Voll weather station
        'elements': 'mean(air_temperature P1D),sum(precipitation_amount P1D),mean(wind_speed P1D)',  # Requestion temperautre, precipitation, and wind speed
        'referencetime': '2024-02-19/2024-03-19',  # Limiting the time frame for the data request
        'timeresolutions': 'P1D',  # Set to 1 day resolution
    }

    # Send an HTTP GET-request
    r = requests.get(endpoint, params=parameters, auth=(client_id, ''))

    # Extract JSON-data
    json_data = r.json()

    # Check if the request was succesfull, and exit if not
    if r.status_code == 200:
        data = json_data['data']
        print('Data collected from frost.met.no!')
    else:
        print('Error! Statuscode:', r.status_code)
        print('Message:', json_data['error']['message'])
        print('Cause:', json_data['error']['reason'])
        exit()  

    # Create and set up the dataframe
    df = pd.DataFrame()
    for obs in data:
        row = pd.DataFrame(obs['observations'])
    row['referenceTime'] = obs['referenceTime']
    df = pd.concat([df, row], ignore_index=True)

    # Show the first few rows of the dataframe
#    print(df.head())

    # Make pandas show the entire dataframe
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', None)
    display(df)

    #Returns dataframe upon request
    return(df)

get_met()

Data collected from frost.met.no!

,elementId,value,unit,level,timeOffset,timeResolution,timeSeriesId,performanceCategory,exposureCategory,qualityCode,referenceTime
0,mean(air_temperature P1D),4.2,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,0.0,2024-03-18T00:00:00.000Z
1,mean(air_temperature P1D),2.5,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT6H,P1D,0,C,2,NaN,2024-03-18T00:00:00.000Z
2,sum(precipitation_amount P1D),0.0,mm,NaN,PT18H,P1D,0,C,2,NaN,2024-03-18T00:00:00.000Z
3,sum(precipitation_amount P1D),0.0,mm,NaN,PT6H,P1D,0,C,2,0.0,2024-03-18T00:00:00.000Z
4,mean(wind_speed P1D),2.8,m/s,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2.0,2024-03-18T00:00:00.000Z

,elementId,value,unit,level,timeOffset,timeResolution,timeSeriesId,performanceCategory,exposureCategory,qualityCode,referenceTime
0,mean(air_temperature P1D),4.2,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,0.0,2024-03-18T00:00:00.000Z
1,mean(air_temperature P1D),2.5,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT6H,P1D,0,C,2,NaN,2024-03-18T00:00:00.000Z
2,sum(precipitation_amount P1D),0.0,mm,NaN,PT18H,P1D,0,C,2,NaN,2024-03-18T00:00:00.000Z
3,sum(precipitation_amount P1D),0.0,mm,NaN,PT6H,P1D,0,C,2,0.0,2024-03-18T00:00:00.000Z
4,mean(wind_speed P1D),2.8,m/s,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2.0,2024-03-18T00:00:00.000Z